body { margin: 0; padding: 0; }

.content{
    display:grid;
    grid-template-columns: 0% auto 0%;
    grid-template-areas:
    'left header right'
    'left main right'
    'left footer right';
}

.header { 
    grid-area: header; 
    background-color: darkcyan;
    color: lightcyan;
    text-align: center;
    margin-top: 0px;
}
.left { grid-area: left; }
.main { 
    grid-area: main; 
    padding-bottom: 20px;
    background-color: lightcyan;
}
.right { grid-area: right; }
.footer { 
    grid-area: footer; 
    background-color: darkcyan;
}

@media only screen and (min-width: 600px) {
    .content{
        display:grid;
        grid-template-columns: 15% auto 15%;
    }
}