img {
    max-width: 100%;
    height: auto;
}

.overview-container {
    display: grid;
    grid-template-columns:  100%;
    row-gap: 10px;
    
}

.overview-item {
    border-style: none;
    border-radius: none;
    border-color: gray;
    background-color: lightgray;
}

.overview-item:hover{
    background-color: lightblue;
}

.overview-image{
    margin: 10px;
}

.overview-link{
    text-align: center;
    font-size: larger;
    color: black;
    text-decoration: none;
}

.slideshow-container{
    position: relative;
    
}

.slideshow-img{
    margin: auto;   
}

.prev, .next{
    cursor: pointer;    
    position: absolute;
    height: 100%;
    top: 0;
    text-align: center;
    width: 5%;
    background-color: rgba(88, 88, 88,.2);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.next{right:0;}
.prev{left:0;}


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .overview-container {
        grid-template-columns:  repeat(2, 1fr);
        column-gap: 10px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .overview-container {
        grid-template-columns:  repeat(3, 1fr);
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 