:root {
    --primary-color: rgb(2, 164, 177);
    --secondary-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.filter{
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);    
    font-weight: bold;
}

.filter-item{
    padding: 10px;
}

.overview-container {
    display: grid;
    grid-template-columns:  100%;
    row-gap: 10px;
    margin-top: 10px;
}

.overview-item {
    border-style: none;
    border-radius: none;
    background-color: var(--secondary-color);
    transition: background-color 0.5s;
}

.overview-item:hover{
    background-color: var(--primary-color);
}

.overview-image{
    margin: 10px;
}

.overview-link{
    text-align: center;
    font-size: larger;
    color: black;
    text-decoration: none;
}

.slideshow-container{
    margin-top: 20px; 
    text-align: center;
    display: block;  
}

.slideshow-img{
    margin: auto;   
}
.selection-buttons{
    margin-top: 20px;
}

.selection{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 10%;
    line-height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .overview-container {
        grid-template-columns:  repeat(2, 1fr);
        column-gap: 10px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .overview-container {
        grid-template-columns:  repeat(3, 1fr);
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 