{%extends "layout.html" %}
{% block header %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        drills = {};
        $.getJSON('/alldrills',
            function(data) {
                drills = data;
                displayDrills();
        });
        return false;
    });

    function displayDrills(){
        var html = '';
        for(i=0; i<drills.length; i++){
            html += "<a class='overview-link overview-item' href='/singledrill/"+drills[i].name+"'> \
                <h5>" + drills[i].name+ "</h5> \
                <div class='overview-image'> \
                    <img src='/static/"+drills[i].path+"/komplett.png'> \
                </div>  \
            </a>";
        }
        $('#content').html(html);
    }
</script>

{% endblock header %}
{% block content%} 
<div id="filter">

</div>
<div id="content" class="overview-container">
    
</div>
    
{% endblock content%}