{%extends "layout.html" %}
{% block header %}
<script src="{{url_for('static', filename='js/alldrills.js')}}"></script>

{% endblock header %}
{% block content%} 
<div >
    <div class="filter">
        <p class="filter-item">Players available: <span id="minPlayer"></span></p>    
        <input class="filter-item" type="range" min="1" max="10" value="10" id="minSlider">  
    </div>
    <div class="filter">
        <p class="filter-item">Single Goalie<span id="minPlayer"></span></p> 
        <input type="checkbox" id="swtGoalies" class="filter-item checkbox" />
        <label for="switch" class="filter-item toggle"></label>
    </div> 
    
</div>
<div id="content" class="overview-container">
    
</div>
    
{% endblock content%}