{%extends "layout.html" %}
{% block header %}



{% endblock header %}
{% block content%} 
<div class="overview-container">
    {%for drill in drills %}
        {%set drillname = drill['name']%}
            <a class="overview-link overview-item" href="{{url_for('singledrill', name=drillname)}}">
                <h5>{{drill['name']}}</h5>
                <div class="overview-image">
                    {% set path = drill['path'] ~ "/komplett.png"%}
                    <img src="{{url_for('static', filename=path)}}">
                </div>  
            </a> 
        
    {% endfor %}
</div>
    
{% endblock content%}